/.vs
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Document_Monkey
/Fishing_BurstDebugInformation_DoNotShip
/Game_Fishing.sln
/Library
/Logs
/obj
/spine-unity-editor.csproj
/spine-unity.csproj
/Temp
/UserSettings